/* You can add global styles to this file, and also import other style files */
.my-class-a {
  border-color: #CB561E;
  background-color: #f2c1a9;
}
.my-class-a .blockade-day {
  background-color: #CB561E;
}
