$day-width: 20px;
$item-vertical-padding: 2px;
$item-vertical-margin: 4px;
$sidebar-width: 200px;
$header-height: 70px;
$gray-dark: #888;
$gray-base: #aaa;
$gray-light: #ccc;
$gray-lighter: #eee;
$brand-info: #dead00;
$brand-primary: #b00b1e;
$brand-danger: #399383;
$color-a: #b00b1e;
$color-b: #fa0aaa;
$color-c: #399383;
